.description {
    & ol {
        list-style: none;
        padding-left: 0;
        counter-reset: counter;
        & li:before {
          content: "0" counter(counter) "/ ";
        	counter-increment: counter;
          font-weight: bold;
          font-family: "acumin-pro-wide", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
          font-size: .7em;
          margin-right: .4em;
        }
    }
}
