html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.row {
    create-row: 1320px;
}

.column {
    create-column: 40px;
}

.small {
    create-grid: 6;
}

@media (--b-tablet) {
    .medium {
        create-grid: 12;
    }
}

@media (--b-laptop) {
    .large {
        create-grid: 18;
    }
}
