html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.row {
    create-row: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    @media (--b-laptop) {
        padding-left: 0;
        padding-right: 0;
    }
}

.column {
    create-column: 40px;
}

.small {
    create-grid: 3;
}

@media (--b-tablet) {
    .medium {
        create-grid: 6;
    }
}

@media (--b-laptop) {
    .large {
        create-grid: 8;
    }
    .large-push {
        create-push: 8;
    }
}
