html {
  font-family: Helvetica, sans-serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

/*Copy & Lists*/
p {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 1.5em;
}

ul,
ol {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

ul li,
ol li {
  line-height: 1.5;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

blockquote {
  line-height: 1.5;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

/*Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /*Change heading typefaces here*/
  font-family: sans-serif;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1.5em;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
}

h2 {
  font-size: 2.828em;
  margin-top: 1em;
}

h3 {
  font-size: 1.414em;
}

h4 {
  font-size: .707em;
}

h5 {
  font-size: .4713333333333333em;
}

h6 {
  font-size: .3535em;
}

a {
  color: #000;
  text-decoration: none;
}

/*Tables*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1.5em;
}

table td,
table th {
  line-height: 33px;
  padding: 0;
}

/*Code blocks*/
code {
  vertical-align: bottom;
}

/*Leading paragraph text*/
.lead {
  font-size: 1.414em;
}

/*Hug the block above you*/
.hug {
  margin-top: 0;
}
