.description {
    & ol {
        list-style: none;
        padding-left: 0;
        counter-reset: counter;
        & li:before {
            content: "0" counter(counter) "/ ";
        	counter-increment: counter;
            font-weight: bold;
        }
    }
}
